/* Reset simples */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipografia e cores */
body {
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
}

/* Cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: #222;
    color: white;
}

.menu__list {
    display: flex;
    list-style: none;
}

.menu__item {
    margin-left: 2rem;
}

.menu__link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Banner Home */
.banner {   
    padding: 2rem;
}

.banner__description {
    padding-bottom: 2rem;
}

.banner__img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
}


/* Seções */
.section {
    padding: 5vh 5%;
    text-align: center;
}

/* Serviços com CSS Grid */
.servicos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}

.servicos__item {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

/* Depoimentos */
.depoimentos {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
}

.depoimentos__item {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

/* Contato */
.contato {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    margin: 0 auto;
}

.contato__border {
    padding: 0.8rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;
}

.contato__btn {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #222;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.footer {
    text-align: center;
}

.footer__text {
    margin: 0.5rem 0
}

/* Responsividade */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

   .menu__list {
        flex-direction: column;
        gap: 1rem;
    }

    .depoimentos {
        flex-direction: column;
    }
}
